.timeline6 {
    position: absolute;
    inset: 0;

    display: flex;
    justify-content: center;
    align-items: center;

    overflow: hidden;
    pointer-events: none;
}

.timeline6-image {
    position: absolute;

    width: 500px;
    height: auto;

    object-fit: cover;

    opacity: 0;

    border: 4px solid white;

    box-shadow:
        0 0 40px rgba(255,255,255,0.25);
}

.timeline6-text {
    position: absolute;

    bottom: 80px;

    color: white;

    font-size: 80px;
    font-weight: 900;

    opacity: 0;

    text-shadow:
        0 0 20px rgba(0,0,0,0.7);
}